
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+3:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro&family=Source+Sans+3:wght@400;600&display=swap');

/* html{
    box-sizing: border-box;
} */
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    max-width: 1000px;
    margin: 0 auto;  
}
header{
    /* display: flex;
    position:relative; */
}
.menu{
    display: flex;
    width: 63%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    margin-top: 15px;
}
.menu a {
    text-decoration: none;
    color: #FFFFFF;
}
.menu:first-child{
    font-family: 'Source Sans 3';
    font-size: 18px;
}
.menu ul {
    display: flex;
    list-style: none;
    font-family: 'Source Sans 3';
    font-size: 14px;
    margin-bottom: 10px;
}
.menu li {
    margin-right: 32px;

}
.secrion_header{
    background-image: url(assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 822px;
    text-align: center;
}
.headline{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}
.content{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
}
/* section 1 begins from here */

.section_1{
    display: flex;
    margin-top: -15px;
    flex-direction: column;
    background: #EEEEEE;
    height: 700px;

    

}
.section_headline{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 133%;
    text-align: center;
    color: #464547;
    margin-top: 80px;
}
.section_subtitle{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #666666;
    margin-top: 39px;
}
.subtitle_text{
    display: flex;
    justify-content: space-evenly;
}
.first_column_section{
    width: 400px;
    height: 200px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: #666666; 
}
.second_column_section{
    width: 400px;
    height: 170px; 
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: #666666;
}
.button_column{
    text-align: center;
}
.read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #55C2D8;
    color: #fff;
    text-decoration: none;
    border-radius: 18px;
    border: none;
    margin-top: 50px;
    align-items: center;
}
/* this is for third section */
.image_box{
    display: flex;
    flex-direction: column;
    background-image: url(assets/IMG_1334_72dpi_RGB_\ 1.png);
    height: 650px;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.learn_title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}
.ellipse-box{
    background: #39C2D7;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.play-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    margin-left: 16px;
}
.dis_auto{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;;
    text-align: center;
    color: #FFFFFF;
}
/* this is for footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #464547;
    height: 160px;
}

/* .item_1, .item_2, .item_3 {
    flex-basis: 33.33%;
} */
.item_1{
    flex-basis: 33.33%;
    display: flex;
    align-items: flex-start;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 89%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;

}
.small_logo{
    padding: 30px;
}
.item_2{
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.item_3{
    flex-basis: 33.33%;
    display: flex;
    align-items: flex-end;
}
.address{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: rgba(255, 255, 255, 0.4);
}
.adress_2 a{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: rgba(255, 255, 255, 0.4);


}
.year{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: rgba(255, 255, 255, 0.4);
}

